
## ------------------------------------------------------------------------------------------------

useDynLib(UBL)

## ------------------------------------------------------------------------------------------------

#exportPattern("^[[:alpha:]]+")



## ------------------------------------------------------------------------------------------------

import(methods)

## ------------------------------------------------------------------------------------------------

## Functions

export(
	##classification pre-processing methods
	CNNClassif,
	ENNClassif,
	gaussNoiseClassif,
	ImpSampClassif,
	NCLClassif,
	OSSClassif,
	randOverClassif,
	randUnderClassif,
	smoteClassif,
	TomekClassif,
	## regression pre-processing methods
	gaussNoiseRegress,
	ImpSampRegress,
	randOverRegress,
	randUnderRegress,
	smoteRegress	
)
       
